@import url('https://fonts.cdnfonts.com/css/arhaic-romanesc');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #eccc1a;
    color: #af8fd5;
}


.logo {
    display: block;
    float: center;
    width: 4rem;
    height: 4rem;

}


.bara-navigare nav {
    background-color: #F9EBD4;
    display: flex;
    align-items: center;
    /* aliniază vertical logo + meniul */
  
    

     position: fixed;     /* fixează bara pe ecran */
    top: 0;              /* o pune sus de tot */
    left: 0;
    width: 100%;         /* acoperă toată lățimea */
    z-index: 1000;       /* o pune peste alte elemente */
    
}

.bara-navigare ul {
    display: flex;
    /* pune elementele <li> pe orizontală */
    gap: 20px;
    /* spațiere între Acasă și Contact */
    list-style: none;
    /* elimină bulinele */
    margin: 0;
    padding: 0;
}
.bara-navigare a {
    font-family: 'Arhaic Romanesc', sans-serif;;
    font-size: 18px;
    color: black;             /* sau ce culoare dorești */
}
.adresa{
    padding: 2em;
    padding-top: 5em;
    font-family::'Courier New', Courier, monospace
    font-size: 20px;
    font-weight: bold;
    color: black;
}
