*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.bara-navigare{
    background-color: #f9c367;
    overflow: hidden;
}
.container-icoane{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
      
   
}
.container-icoane div{
    border-radius: 20px;
    margin: 10px;
    background-color: #f9c367;
}
.eticheta{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;   
}
.icoana{
   align: center;
    border-radius: 30px;  
}