@import url("https://fonts.cdnfonts.com/css/arhaic-romanesc");



body {
  /* margin: 15px; */

  background-color: hsla(51, 98%, 51%, 0.981);

}

.descriere {
  font-family: "Arhaic Romanesc", sans-serif;
  font-size: 1.6rem;
  color: #341bd9c0;
  text-align: center;
  margin-bottom: 0.5rem;
  box-shadow: 0 5px 5px 0 rgba(11, 11, 11, 0.2);

}

.container-icoana {
  display: flex;
  flex-direction: column;
  /* pune h3 deasupra imaginii */
  align-items: center;
  /* centrează tot conținutul */
  padding: 1rem;
  border-radius: 1rem;


}

.galerie {
  padding-top: 3rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));

}


.logo {
  display: block;
  width: 6rem;
  height: 4rem;
  padding-right: 2rem;
  border-radius: 20px;

}

.logo:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  background-color: black;
}

.navigator {
  margin-left: 0;
  background-color: #f9ebd4;
  display: flex;
  align-items: center;
  /* aliniază vertical logo + meniul */
  justify-content: center;
  /* aliniază orizontal logo + meniul */
  position: fixed;
  border-radius: 20px;
  margin: 1px;
  /* fixează bara pe ecran */
  top: 0;
  /* o pune sus de tot */
  /* left: 10px; */
  width: 98%;
  /* acoperă toată lățimea */
  z-index: 1000;
  /* o pune peste alte elemente */

}

.navigator ul {
  display: flex;
  /* pune elementele <li> pe orizontală */
  gap: 2rem;
  /* spațiere între Acasă și Contact */
  list-style: none;
  /* elimină bulinele */
  margin: 0;
  padding: 1px;
  box-shadow: 0 10px 4px 0 rgba(0, 0, 0, .2);
}

.navigator a {
  font-family: "Arhaic Romanesc", sans-serif;
  font-size: 1.5rem;
  color: rgb(8, 18, 214);

}


.navigator a:hover {
  cursor: pointer;
  color: red;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);

}

.icoana_img {
  border-radius: 20px;
  border: 5px solid black;
  width: 28rem;
  height: 100%;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.3);
}

.adresa {
  padding: 2em;
  padding-top: 5em;
  margin: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
with:90%;
}


footer {
  background-color: #181b05;
  color: #f6da0a;
  position: fixed;
  bottom: 0;
}

@media (max-width:768px) {
  .galerie {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    padding-top: 1rem;
    margin: 1rem;
  }

  .navigator a {
    font-family: "Arial", sans-serif;
    font-size: 0.8rem;
    color: rgb(8, 18, 214);
  }

  .navigator a:hover {
    cursor: pointer;
    color: red;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);

  }

  .icoana_img {
    border-radius: 5px;
    border: 5px solid black;
    width: 23rem;
    height: 100%;
  }


  .logo {
    display: block;
    float: center;
    width: 4rem;
    height: 3rem;
    padding-right: 0.2rem;

  }

  .descriere {
    font-family: "Arhaic Romanesc", sans-serif;
    font-size: 1rem;
    color: #0f5518c0;
    text-align: center;
    margin-bottom: 0.1rem;
  }

  .navigator ul {
    display: flex;
    /* pune elementele <li> pe orizontală */
    gap: 20px;
    /* spațiere între Acasă și Contact */
    list-style: none;
    /* elimină bulinele */
    margin: 0;
    padding: 10px;
  }
}

#hdurl {
  max-width: 100%;
  max-height: 55vh;
  /* nu trece peste ecran */
  object-fit: contain;
  /* să nu se deformeze */
  border-radius: 10px;
}

.container-astronomy {
  display: flex;
  flex-direction: column;
  /* text sus, imagine jos, etc */
  justify-content: center;
  /* centru vertical */
  align-items: center;
  /* centru orizontal */
  height: 100vh;
  /* întreg ecranul */
  text-align: center;
}