@import url("https://fonts.cdnfonts.com/css/arhaic-romanesc");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eece14;
  color: #2fde2c;
}

.descriere {
  font-family: "Arhaic Romanesc", sans-serif;
  font-size: 2rem;
  color: #0f5518c0;
  text-align: center;
  margin-bottom: 0.5rem;
}

.container-icoana {
  display: flex;
  flex-direction: column;
  /* pune h3 deasupra imaginii */
  align-items: center;
  /* centrează tot conținutul */
  padding: 3rem;
  border-radius: 1rem;
}

.galerie {
  padding-top: 5rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}


.logo {
  display: block;
  float: center;
  width: 5rem;
  height: 5rem;
  padding-right: 2rem;
}

.navigator {
  background-color: #f9ebd4;
  display: flex;
  align-items: center;
  /* aliniază vertical logo + meniul */
  justify-content: center;
  /* aliniază orizontal logo + meniul */
  position: fixed;
  /* fixează bara pe ecran */
  top: 0;
  /* o pune sus de tot */
  left: 0;
  width: 100%;
  /* acoperă toată lățimea */
  z-index: 1000;
  /* o pune peste alte elemente */
}

.navigator ul {
  display: flex;
  /* pune elementele <li> pe orizontală */
  gap: 2rem;
  /* spațiere între Acasă și Contact */
  list-style: none;
  /* elimină bulinele */
  margin: 0;
  padding: 0;
}

.navigator a {
  font-family: "Arhaic Romanesc", sans-serif;
  font-size: 1.5rem;
  color: rgb(8, 18, 214);
}


.navigator a:hover {
  cursor: pointer;
  color: red;
  font-size: 1.6rem;
}

.icoana_img {
  border-radius: 10px;
  border: 5px solid black;
  width: 30rem;
  height: 37rem;
}

.adresa {
  padding: 2em;
  padding-top: 5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

footer {
  background-color: #181b05;
  color: #f6da0a;
  position: fixed;
  bottom: 0;
}

@media (max-width:768px) {
  .galerie {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    padding-top: 2rem;
    margin: 1rem;
  }

  .navigator a {
    font-family: "Arhaic Romanesc", sans-serif;
    font-size: 0.8rem;
    color: rgb(8, 18, 214);
  }

  .navigator a:hover {
    cursor: pointer;
    color: red;
    font-size: 1rem;
  }

  .icoana_img {
    border-radius: 5px;
    border: 5px solid black;
    width: 20rem;
    height: 25rem;
  }

  .logo {
    display: block;
    float: center;
    width: 6rem;
    height: 6rem;
    padding-right: 0.5rem;
  }

  .descriere {
    font-family: "Arhaic Romanesc", sans-serif;
    font-size: 1rem;
    color: #0f5518c0;
    text-align: center;
    margin-bottom: 0.1rem;
  }


}